.pageBlock{
	width:90px;
	height:90px;
	border:2px solid #d3d3d3;
	position:absolute;
	top:10%;
	left:10%;
	background-color:#C0C0C0;
}
.topBlock{
	width:80px;
	height:80px;
	border:2px solid #d3d3d3;
	position:absolute;
	top:10%;
	left:40%;
	background-color:#00FF00;
}
.leftBlock{
	width:80px;
	height:80px;
	border:2px solid #d3d3d3;
	position:absolute;
	top:40%;
	left:10%;
	background-color:#00FF00;
}
.middleBlock{
	width:80px;
	height:80px;
	border:2px solid #d3d3d3;
	position:absolute;
	top:40%;
	left:40%;
	background-color:#00FF00;
}
.rightBlock{
	width:80px;
	height:80px;
	border:2px solid #d3d3d3;
	position:absolute;
	top:40%;
	left:80%;
	background-color:#00FF00;
}
.bottomBlock{
	width:80px;
	height:80px;
	border:2px solid #d3d3d3;
	position:absolute;
	top:70%;
	left:40%;
	background-color:#00FF00;
}
